
:root {
  --bg: #efefef;
  --bg: #1d1d1d;
  --fg: #2f2f2f;
  --txt: #2f2f2f;
  --shader: #000000;
  --vignette-a: #000000;
  --vignette-b: #ffffff;
  --acnt-a:#041413;
  --acnt-b: #051B1C;
  --acnt-c: #996931;
  --acnt-d: #13160F;
  --main: #dd9922;
  --clr: #00000000;
}

@font-face {
  src: url(./../fonts/);
  font-family: ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: unset;
  list-style: unset;
  border: unset;
  outline: unset;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
}

body, html {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 1;
  width: 100%;
  height: 100%;
  background: var(--bg);
}

header {
  width: 100%;
  height: 6em;
  background: var(--acnt-a);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2em;
  padding: 1em 4em 1em 1em;
  position: absolute;
  z-index: 5;
  opacity: 0;
  transition: .7s;
}

.header-item {
  display: flex;
  width: 4em;
  height: 4em;
  border-radius: 1em;
  background: linear-gradient(var(--clr), var(--clr), var(--acnt-c));
  box-shadow: var(--acnt-b) 0 0 .1em .1em;
  overflow: hidden;
}

.item-shader {
  width: 100%;
  height: 100%;
  background: var(--clr);
  transition: .2s;
  transition-timing-function: ease-in;
}

.item-shader:hover {
  background: var(--acnt-c);
}

.item-shader:active {
  transition: .1s;
  transition-timing-function: linear;
  background: var(--acnt-d);
  cursor: none;
}

.menu-item-shader {
  position: absolute;
}

#menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .3em;
  position: relative;
}

.menu-div {
  background: linear-gradient(var(--clr), var(--acnt-c));
  border-bottom: 1px outset var(--acnt-c);
  width: 75%;
  height: .3em;
  border-radius: 1em;

}

.settings-panel {
  position: absolute;
  left: 50%;
  width: 50%;
  height: 0;
  background: linear-gradient(90deg, var(--clr), var(--acnt-b));
  z-index: 3;
  display: none;
  grid-template-rows: 4;
  grid-template-columns: 1;
  gap: 1.2em;
  padding: 7em .3em .3em .3em;
  overflow: scroll;
  transition: .2s;
}

.settings-panel-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 3em;
  padding: 1em;
  width: 100%;
  height: 100%;
  background: var(--clr);
  border-radius: .7em;
}

.increment-item {
  width: 50%;
  height: 100%;
  border-radius: .7em;
  background: linear-gradient(var(--bg), var(--acnt-a));
  box-shadow: var(--acnt-b) 0 0 .1em .1em;
  border-bottom: .2em outset var(--bg);
  z-index: 4;
  overflow: hidden;
}

.increment-item:active {
  background: linear-gradient(var(--acnt-c), var(--acnt-c));
}

.area-shader {
  position: absolute;
  background: var(--shader);
  width: 100%;
  height: 100%;
  opacity: 100;
  z-index: 2;
  transition: .2s;
}

.main-area-vignette {
  width: 100%;
  height: 100%;
  position: absolute;
  background: radial-gradient(var(--clr), var(--vignette));
  z-index: 1;
}

.main-area {
  background: var(--acnt-d);
  width: 100%;
  height: 100%;
}

.main-area {
  background: var(--main);
}

@media (max-width: 1080px) {
  .settings-panel {
    background: linear-gradient(var(--clr), var(--acnt-c));
    width: 100%;
    left: unset;
  }
}

